@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  animation: fadein 0.1s ease-out;
  top: 20px;
  bottom: 20px;
  left: 50%;
  background: #fff;
  width: 90%;
  margin-left: -45%;
  border: 10px solid teal;
  position: fixed;
  padding: 50px 20px;
  box-shadow: 0 10px 20px 10px rgba(130, 104, 104, 0.45);
  overflow-y: scroll;
  z-index: 10;

  @media (min-width: 700px) {
    max-width: 600px;
    margin-left: -300px;
  }

  h2 {
    border-bottom: 5px solid teal;
    padding-bottom: 30px;
  }
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-position: 50% 50%;
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 200;
  background: url("/images/exit.svg") transparent no-repeat;
  background-size: 100%;
}

.modal-content {
  z-index: 100;
  width: 100%;
  margin: 0;
  max-height: 100vh;
  height: 100vh;
  overflow: scroll;
}
